body,div, nav,ul,li,a,main,section,article,footer,form,input,aside,header,h2,img,p, button {
   margin:0;
   padding: 0;
   box-sizing:boder-box;
}
@font-face {
  font-family: Noticia+Text;
  src:url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
}
body {
  
}
div.wrapper {
    background-color: #25A7E1;
    border: 3px solid #B6E0FF;
}
div.wrapper nav  {
   border: 1px solid #CCCCFF;
   background-color: #040189;
   border-bottom-right-radius:8px;
}

div.wrapper nav  input[type="button"] {
  display: inline-block;
  float: right;
  width: 25px;
  height: 22px;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-right: 10px;
  outline: 0;
  cursor: pointer;
}

div.wrapper nav  ul {
  /*border: 1px solid green;*/
  width: 1300px;
  display: inline-block;
  margin: 0 auto;
}
  div.wrapper nav  ul div {
        width: 600px;
        margin: 0 auto;
        /*border: 1px solid red;*/
  }

div.wrapper nav ul div li{
  display: inline-block;
  /*border: 1px solid orange;*/
  text-align: center;
  width: 100px;
  background-color: #6566FF;
    list-style: none;
    padding: 2px 8px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius:7px; 
    margin-bottom: 2px;
   font-family: 'Lobster', cursive;
}
div.wrapper nav ul div li:hover {
  background-color: #28A4E1;
  font-style: italic;
}
div.wrapper nav ul div li a {
  text-decoration: none;
  color: #fff;
}


div.wrapper main {
 /*border: 1px solid red;*/
}


div.wrapper main section{
  width: 900px;
  display: inline-block;
  border:2px solid #0E277C;
  margin:2em;
  background-color: #ADD9E6;
  border-radius: 25px;
}


div.wrapper main section header{
  text-align: center;
  /*border: 1px solid red;*/
  padding: 1em 0;
  font-family: 'Lobster', cursive;
}


div.wrapper main section article#first_img  {
     width: 510px;
     height: 193px;
    /* border:1px solid blue;*/
     display: inline-block;
     margin-left: 20px;
}
div.wrapper main section article#second_img {
    width: 310px;
    height: 193px;
    float: right;
    /*border:1px solid red;*/
    display: inline-block;
    margin-right: 20px;
}
div.wrapper main section article#first_img img {
    width: 100%;
    height: 193px;
}
div.wrapper main section article#first_img img:hover {
  box-shadow: 5px 5px 8px #76929F;
}
div.wrapper main section article#second_img img {
  height: 193px;
  width: 100%;
}
div.wrapper main section article#second_img img:hover {
  box-shadow: 5px 5px 8px #76929F;
}



div.wrapper main section div#pagination {
  /*border: 1px solid red;*/
     margin-top: 3em;
     margin-bottom: 1em;
     font-family: 'Lobster', cursive;
}
div.wrapper main section div#pagination ul {
  border-right: 1px solid red;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  width: 224px;
  margin: 0 auto;
  border-radius: 5px;
}
div.wrapper main section div#pagination  ul li {
  list-style: none;
  display: inline-block;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
}
div.wrapper main section div#pagination  ul li:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.wrapper main section div#pagination  ul li:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.wrapper main section div#pagination  ul li:nth-child(odd) {
   border-right: 1px solid red;
   border-left: 1px solid red;
}
div.wrapper main section div#pagination  ul li:nth-child(even) {
   border-right: none;
}
div.wrapper main section div#pagination  ul li:nth-child(2) {
   background-color: #316FE8;
}
div.wrapper main section div#pagination  ul li a{
  text-decoration: none;
  color: #000;
  font-weight: normal;
}
div.wrapper main section div#pagination  ul li a.active {
  color: #fff;
}
div.wrapper main section div#pagination  ul li:hover:not(.active) {
  background-color: #00EFE2;
} 



div.wrapper > div#btn {
    width: 900px;
    height: 27px;
    display: inline-block;
  /*border: 1px solid green;*/
  margin:2em;
}

div.wrapper > div#btn button {
  width: 165px;
  height: 27px;
  font-size: 16px;
    font-weight: bold;
   padding: 0 20px;
   border: 1px solid #19388C;
   background-color: #ADD9E6;
   font-family: 'Lobster', cursive;
   text-align: center;
   transition:all 0.5s;
}
div.wrapper > div#btn button:hover a {
  padding-right: 25px;
}
div.wrapper > div#btn button:hover a:after  {
  opacity: 1;
  right: 12px;
}
div.wrapper > div#btn button a {
  color:#07097D;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition:0.5s;
}
div.wrapper > div#btn button a:after {
   content: "»";
   position: absolute;
   right: -15px;
   top: 0;
  opacity: 0;
  transition:0.5s;
}


div.wrapper aside{
  width: 307px;
  margin: 2em;
  display:inline-block;
  float: right;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid silver;
}

div.wrapper aside form{
  margin: 1em;
  font-family: 'Lobster', cursive;
}
div.wrapper aside form fieldset{}

div.wrapper aside form fieldset div.form-group {
   margin-bottom: 10px;
   /*border: 1px solid red;*/
}
div.wrapper aside form div.form-group label{
   /*float: left;*/
}
div.wrapper aside form div.form-group input {
   float: right;
   border: 1px solid red;
   padding: 3px;
   outline: 0;
   /*width: 100px;*/
}
div.wrapper aside form div.form-group select{
      margin-left: 13px;
}
div.wrapper aside form div.form-group select:hover {
  cursor:not-allowed;
}
div.wrapper aside form div.form-group input {
  width: 165px;
}
div.wrapper aside form div#img_fail {
 /*border: 1px solid red;*/
 position: relative;
}
div.wrapper aside form div#img_fail label img {
  width: 75px;
  height: 75px;
  display: inline-block;
  cursor: pointer;
}
div.wrapper aside form div#img_fail p{
  display: inline-block;
  width: 165px;
  margin-top: 1.2em;
  font-size: 13px;
  float: right;
}
div.wrapper aside form div#img_fail:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
}
div.wrapper aside form div#img_fail  input[type="file"] {
  display: none;
}

div.wrapper aside form div#img_fail  input[type="submit"] {
   float: right;
   font-family: 'Lobster', cursive;
   padding: 3px;
}
div.wrapper footer {
  background-image: url(http://thumbs.dreamstime.com/t/blue-background-simple-abstract-header-footer-50000907.jpg);
  background-repeat: repeat-x;
  height: 160px;
}
/* cursor:not-allowed;
http://www.w3schools.com/cssref/playit.asp?filename=playcss_cursor&preval=alias
http://www.w3schools.com/tags/att_input_type.asp
http://stackoverflow.com/questions/2855589/replace-input-type-file-by-an-image

*/